{%- assign collection = collections[section.settings.collection] -%}
{%- assign blog = blogs[section.settings.blog] -%}

{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
    {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
    {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
{% endcase %}

<!-- INTERVIEW -->
<div class="interview-overlay interview-overlay--from-right js-interview-overlay-main">
  <div class="interview-overlay__container">
    <div class="interview-overlay__content">
      <a href="#0" class="interview-overlay__close js-interview-overlay-close">
        {% include 'icon-close' %}
      </a>
      {% if section.settings.custom-title != blank %}
        <div class="interview-overlay__header">
          <div class="">Interview with</div>
          <h1>{{ section.settings.custom-title | escape }}</h1>
        </div>
      {% endif %}
      {% for block in section.blocks %}
        <div class="interview-overlay__question rte-setting">{{ block.settings.custom-title }}</div>
        <div class="rte-setting">{{ block.settings.custom-text }}</div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- HERO -->
<div class="shopify-section index-section index-section--top--flush">
  <div class="section-container">
    <div class="feature-row__header">
      <div class="feature-row feature-row--mobile-reverse">
        <div class="feature-row__item--hero feature-row__text__text-box--hero">
          <h1>{{ section.settings.title_1 | escape }}</h1>
          {% if section.settings.show_overlay  %}
            <div class="section-header__link">
              <a class="js-interview-overlay-open link--secondary" href="#interview">{{ section.settings.overlay_link_text }}</a>
            </div>
          {% endif %}
          <h3 class="feature-row__text__quote">{{ section.settings.subtitle_1 }}</h3>
          <div class="feature-row__text__subtext font--small">{{ section.settings.text_1 }}</div>
          <!-- Adding button to hero -->
          {% if section.settings.button_label_1 != blank and section.settings.button_link_1 != blank %}
            <a href="{{ section.settings.button_link_1 }}" class="btn">
              {{ section.settings.button_label_1 | escape }}
            </a>
          {% endif %}
        </div>
        <div class="feature-row__hero-image__container feature-row__item--hero">
          <img class="feature-row__hero-image" src="{{ section.settings.image_1 | img_url: '900x' }}">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- COLLECTION 1 -->
<div class="shopify-section index-section">
  <div class="page-width">
    {%- assign product_limit = section.settings.grid | times: 1 -%}

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign max_index = 3 -%}
      {% when 4 %}
        {%- assign max_index = 5 -%}
    {% endcase %}

    <div class="grid grid--uniform grid--view-items">

      {% for product in collection.products limit: product_limit %}
        {% if forloop.index < max_index %}
          <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            {% include 'product-card-grid', max_height: max_height %}
          </div>
        {% else %}
          {% continue %}
        {% endif %}
      {% else %}

        {% for i in (1..product_limit) %}
          <div class="grid__item .grid__item--{{section.id}} {{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  {% include 'product-price' %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- FEATURE ROW 2 -->
{% if section.settings.layout_2 %}
  <div class="shopify-section index-section">
    <div class="page-width feature-row">
      {% capture image_layout %}
        <div class="feature-row__item">
          {% if section.settings.image_2 != blank %}
            {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
            {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
            {%- assign img_url = section.settings.image_2 | img_url: '1x1' | replace: '_2x1.', '_{width}x.' -%}
            {% include 'image-style' with image: section.settings.image_2, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
            <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
              <div class="hero-small--hide" style="padding-top:{{ 1 | divided_by: section.settings.image_2.aspect_ratio | times: 100}}%;">
                <img id="{{ img_id }}"
                     class="feature-row__image"
                     src="{{ section.settings.image_2 | img_url: '900x' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.image_2.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ section.settings.image_2.alt | escape }}">
              </div>
              <div class="hero-medium-up--hide">
                <img id="{{ img_id }}"
                     class="feature-row__image"
                     src="{{ section.settings.image_2 | img_url: '900x' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.image_2.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ section.settings.image_2.alt | escape }}">
              </div>
            </div>

            <noscript>
              {{ section.settings.image_2 | img_url: '600x600', scale: 2 | img_tag: section.settings.image_2.alt, 'feature-row__image' }}
            </noscript>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      {% endcapture %}

      <div class="feature-row feature-row--mobile-reverse">
        {% if section.settings.layout_2 == 'left' %}
          {{ image_layout }}
        {% endif %}

        <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout_2 }}">
          {% if section.settings.title_2 != blank %}
            <div class="feature-row__text__quote-container--{{ section.settings.layout_2 }}">
              <h3 class="feature-row__text__quote">{{ section.settings.title_2 | escape }}</h3>
            </div>
          {% endif %}
          {% if section.settings.text_2 != blank %}
            <div class="feature-row__subtext-container--{{ section.settings.layout_2 }}">
              <div class="rte-setting featured-row__subtext">{{ section.settings.text_2 }}</div>
            </div>
          {% endif %}
          {% if section.settings.button_label_2 != blank and section.settings.button_link_2 != blank %}
            <a href="{{ section.settings.button_link_2 }}" class="btn">
              {{ section.settings.button_label_2 | escape }}
            </a>
          {% endif %}
        </div>

        {% if section.settings.layout_2 == 'right' %}
          {{ image_layout }}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

<!-- COLLECTION 2 -->
<div class="shopify-section index-section">
  <div class="page-width">
    {%- assign product_limit = section.settings.grid | times: 2 -%}

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign min_index = 2 -%}
        {%- assign max_index = 5 -%}
      {% when 4 %}
        {%- assign min_index = 4 -%}
        {%- assign max_index = 9 -%}
    {% endcase %}

    <div class="grid grid--uniform grid--view-items">
      {% for product in collection.products limit: product_limit %}
        {% if forloop.min_index > 4 and forloop.max_index < 9 %}
          <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            {% include 'product-card-grid', max_height: max_height %}
          </div>
        {% else %}
          {% continue %}
        {% endif %}
      {% else %}

        {% for i in (1..product_limit) %}
          <div class="grid__item .grid__item--{{section.id}} {{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  {% include 'product-price' %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% comment no fr3 %}
<!-- FEATURE ROW 3 -->
{% if section.settings.layout_3 %}
  <div class="shopify-section index-section">
    <div class="page-width feature-row">
      {% capture image_layout %}
        <div class="feature-row__item">
          {% if section.settings.image_3 != blank %}
            {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
            {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
            {%- assign img_url = section.settings.image_3 | img_url: '1x1' | replace: '_3x1.', '_{width}x.' -%}
            {% include 'image-style' with image: section.settings.image_3, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
            <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
              <div class="hero-small--hide" style="padding-top:{{ 1 | divided_by: section.settings.image_3.aspect_ratio | times: 100}}%;">
                <img id="{{ img_id }}"
                     class="feature-row__image"
                     src="{{ section.settings.image_3 | img_url: '900x' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.image_3.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ section.settings.image_3.alt | escape }}">
              </div>
              <div class="hero-medium-up--hide">
                <img id="{{ img_id }}"
                     class="feature-row__image"
                     src="{{ section.settings.image_3 | img_url: '900x' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.image_3.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ section.settings.image_3.alt | escape }}">
              </div>
            </div>

            <noscript>
              {{ section.settings.image_3 | img_url: '600x600', scale: 2 | img_tag: section.settings.image_3.alt, 'feature-row__image' }}
            </noscript>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      {% endcapture %}

      <div class="feature-row feature-row--mobile-reverse">
        {% if section.settings.layout_3 == 'left' %}
          {{ image_layout }}
        {% endif %}

        <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout_3 }}">
          {% if section.settings.title_3 != blank %}
          <div class="feature-row__text__quote-container--{{ section.settings.layout_3 }}">
            <h3 class="feature-row__text__quote">{{ section.settings.title_3 | escape }}</h3>
          </div>
          {% endif %}
          {% if section.settings.text_3 != blank %}
            <div class="feature-row__subtext-container--{{ section.settings.layout_3 }}">
              <div class="rte-setting featured-row__subtext">{{ section.settings.text_3 }}</div>
            </div>
          {% endif %}
        </div>

        {% if section.settings.layout_3 == 'right' %}
          {{ image_layout }}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
{% endcomment %}

<!-- COLLECTION 3 -->
<div class="shopify-section index-section">
  <div class="page-width">
    {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

    {% case section.settings.grid %}
      {% when 2 %}
        {%- assign max_index = 4 -%}
      {% when 4 %}
        {%- assign max_index = 8 -%}
    {% endcase %}

    <div class="grid grid--uniform grid--view-items">
      {% for product in collection.products limit: product_limit %}
        {% if forloop.index > max_index %}
          <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            {% include 'product-card-grid', max_height: max_height %}
          </div>
        {% else %}
          {% continue %}
        {% endif %}
      {% else %}

        {% for i in (1..product_limit) %}
          <div class="grid__item .grid__item--{{section.id}} {{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  {% include 'product-price' %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>

    {% if section.settings.show_view_all %}
      <hr class="hr--invisible"></hr>
      <div class="text-center">
        <a href="{{ collection.url }}" class="btn">
          {{ 'collections.general.view_all' | t }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% comment removing blog %}
<!-- STORIES -->
{% if blog %}
  <div class="shopify-section index-section--dark index-section--padded index-section--flush">
    <div class="page-width">
      <div class="section-header">
        <div class="page-subheader">Stories</div>
        <h2>Featured {{ collection.title }}</h2>
      </div>

      {%- assign blog = blogs[section.settings.blog] -%}
      <div class="flex-container">
        {% for article in blog.articles %}
          {% for tag in article.tags %}
            {% if tag.handle == collection.handle %}
              <div class="flex-item flex-item--one-third">
                <a itemprop="url" href="{{ article.url }}">
                  <img class="space--mb" src="{{ article.image| img_url: '900x' }}">
                </a>
                <h4>{{ article.title | escape }}</h4>
                <a class="link--secondary" href="{{ article.url }}">Read Story</a>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
{% endcomment %}

{% schema %}
  {
    "name": "Artist Page",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "COLLECTIONS Show product vendors",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_overlay",
        "label": "HERO Show Overlay",
        "default": true
      },
      {
        "type": "text",
        "id": "overlay_link_text",
        "label": "HERO Overlay Link Text",
        "default": "View Bio +"
      },
      {
        "type": "text",
        "id": "subtitle_1",
        "label": "HERO Subtitle 1",
        "default": "I'm a subtitle"
      },
      {
        "type": "text",
        "id": "collection_title",
        "label": "COLLECTION Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "COLLECTION Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "COLLECTION Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "rows",
        "label": "COLLECTION Rows",
        "min": 3,
        "max": 20,
        "step": 1,
        "default": 9
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "COLLECTION Show 'View all' button",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "FEATURE Image 1"
      },
      {
        "type": "select",
        "id": "layout_1",
        "label": "FEATURE Image alignment 1",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "FEATURE Heading 1",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "FEATURE Text 1",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "FEATURE Button label 1"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "FEATURE Button link 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "FEATURE Image 2"
      },
      {
        "type": "select",
        "id": "layout_2",
        "label": "FEATURE Image alignment 2",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "FEATURE Heading 2",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "FEATURE Text 2",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "FEATURE Button label 2"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "FEATURE Button link 2"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "FEATURE Image 3"
      },
      {
        "type": "select",
        "id": "layout_3",
        "label": "FEATURE Image alignment 3",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title_3",
        "label": "FEATURE Heading 3",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text_3",
        "label": "FEATURE Text 3",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label_3",
        "label": "FEATURE Button label 3"
      },
      {
        "type": "url",
        "id": "button_link_3",
        "label": "FEATURE Button link 3"
      },
      {
        "type": "text",
        "id": "custom-title",
        "label": "Heading",
        "default": "Custom content"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "custom-title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "custom-text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "select",
            "id": "custom-width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "custom-alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {"value": "top-middle", "label": "Top"},
              {"value": "center", "label": "Middle"},
              {"value": "bottom-middle", "label": "Bottom"}
            ]
          },
          {
            "type": "select",
            "id": "custom-align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "custom-image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "custom-width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "custom-alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-middle",
                "label": "Top middle"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "middle-right",
                "label": "Middle right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom left"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom middle"
              },
              {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ]
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "video_url",
            "id": "custom-video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
          },
          {
            "type": "select",
            "id": "custom-width",
            "label": "Container width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "custom-alignment",
            "label": "Vertical alignment",
            "default": "top-middle",
            "options": [
              {
                "value": "top-middle",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom"
              }
            ]
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "custom-product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "custom-width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "custom-alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-middle",
                "label": "Top middle"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "middle-right",
                "label": "Middle right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom left"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom middle"
              },
              {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ]
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "custom-collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "custom-width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "custom-code",
            "label": "HTML"
          },
          {
            "type": "select",
            "id": "custom-width",
            "label": "Container width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Artist Page Template",
        "category": "Image"
      }
    ]
  }
{% endschema %}
