<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="brand__logo">
      <a href="/" itemprop="url">
      Supply Unica
      </a>
    </div>
    <div class="grid grid--no-gutters">
      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item medium-up--one-quarter">
          <div class="site-footer__newsletter">
            <div class="site-footer__list-header">Sign up for our newsletter</div>
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <div class="site-footer__newsletter__input-group input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="Email"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <svg width="20" height="17" viewBox="0 0 20 17" fill="none">
                        <path d="M10.6092 15.0074L11.8574 16.2853L20 8.14264L11.8574 0L10.6092 1.27786L16.5825 7.25111H0V9.03418H16.5825L10.6092 15.0074Z" fill="#232121"/>
                      </svg>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      {% endif %}

      <div class="grid__item medium-up--one-quarter">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <ul class="site-footer__linklist">
            <li class="site-footer__list-header">SUPPLY UNICA</li>
            {% for link in linklists[footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid__item medium-up--one-quarter">
        <ul class="site-footer__linklist">
          <li class="site-footer__list-header">Talk to us</li>
          <li class="site-footer__linklist-item">
            <a href="mailto:hello@supplyunica.com">Email</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_facebook_link | escape }}">Facebook</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_instagram_link | escape }}">Instagram</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_twitter_link | escape }}">Twitter</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_pinterest_link | escape }}">Pinterest</a>
          </li>
        </ul>
      </div>

      <div class="grid__item medium-up--one-quarter">
        <div class="site-footer__copyright medium-up--text-left">
          <small class="site-footer__copyright-content">
            <a href="/pages/privacy-policy">Privacy Policy</a>
          </small>
          <br>
          <small class="site-footer__copyright-content">
            <a href="/pages/terms-conditions">Terms & Conditions</a>
          </small>
          <br>
          <br>
          <small class="site-footer__copyright-content">
            &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
          </small>
        </div>
      </div>
    </div>

    <div class="site-footer__credit-links-container">
      Site Design by <a class="link--primary" href="https://pacssu.com" itemprop="url">PACSSU</a>,
      Development by <a class="link--primary" href="https://twitter.com/erinzobitz" itemprop="url">Erin Zobitz</a>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
