<footer class="site-footer" role="contentinfo">
  <div class="page-width">
    <div class="brand__logo">Supply Unica</div>
    <div class="grid grid--no-gutters">
      <div class="grid__item medium-up--one-quarter">
        {%- assign footer_linklist = section.settings.footer_linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <ul class="site-footer__linklist">
            {% for link in linklists[footer_linklist].links %}
              <li class="site-footer__linklist-item">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="grid__item medium-up--one-quarter">
        <ul class="site-footer__linklist">
          <li class="site-footer__list-header">Talk to us</li>
          <li class="site-footer__linklist-item">
            <a href="mailto:hello@supplyunica.com">hello@supplyunica.com</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_facebook_link | escape }}">Facebook</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_instagram_link | escape }}">Instagram</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_twitter_link | escape }}">Twitter</a>
          </li>
          <li class="site-footer__linklist-item">
            <a href="{{ settings.social_pinterest_link | escape }}">Pinterest</a>
          </li>
        </ul>
      </div>

      {% if section.settings.footer_newsletter_enable %}
        <div class="grid__item medium-up--one-quarter">
          <div class="site-footer__newsletter">
            <div class="site-footer__list-header">Sign up for our newsletter</div>
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
              {% else %}
                <div class="site-footer__newsletter__input-group input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group__field newsletter__input"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="Email"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                      <svg width="18" height="15" viewBox="0 0 18 15" fill="none">
                        <path d="M17.7059 8.74863C18.0957 8.38104 18.0957 7.74787 17.7059 7.33442L11.3529 0.59675C10.9631 0.183294 10.331 0.146113 9.94113 0.513705C9.55128 0.881297 9.55128 1.51446 9.94113 1.92792L15.5882 7.91695L9.94113 13.2416C9.55128 13.6092 9.55128 14.2424 9.94113 14.6558C10.331 15.0693 10.9631 15.1065 11.3529 14.7389L17.7059 8.74863ZM0 8L17 9L17 7L0 6L0 8Z" fill="black"/>
                      </svg>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      {% endif %}

      <div class="grid__item medium-up--one-quarter">
        <div class="site-footer__copyright medium-up--text-left">
          <small class="site-footer__copyright-content">
            <a href="/pages/privacy-policy">Privacy Policy</a>
          </small>
          <br>
          <small class="site-footer__copyright-content">
            <a href="/pages/terms-conditions">Terms & Conditions</a>
          </small>
          <br>
          <br>
          <small class="site-footer__copyright-content">
            &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}
          </small>
        </div>
      </div>
    </div>


    {% if social_icons and section.settings.footer_newsletter_enable and section.settings.show_payment_icons %}
      <div class="site-footer__copyright--bottom">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
        <!-- <small class="site-footer__copyright-content">{{ powered_by_link }}</small> -->
      </div>
    {% endif %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Primary menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_two",
        "label": "Additional menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }
{% endschema %}
