{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or template.name == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }

        .announcement-bar--link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.color_text }};
        }
      </style>

      {% if section.settings.message_link == blank %}
        <div class="announcement-bar">
      {% else %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}

        <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>

      {% if section.settings.message_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}


  <header class="site-header">
    <!-- Mobile header -->
    <div class="site-header__container--small medium-up--hide">
      <div class="site-header__row">
        <div class="site-header__row-item">
          {% unless linklists[section.settings.main_linklist] == blank %}
            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
              {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
              <span class="icon__fallback-text">{{ 'layout.navigation.toggle' | t }}</span>
            </button>
          {% endunless %}
        </div>
        <div class="site-header__row-item">
          <h1 class="brand__logo brand__logo--header" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url">
              Supply Unica
            </a>
          </h1>
        </div>
        <div class="site-header__row-item">
          <div class="site-header__links-wrapper">
            <a href="/cart" class="site-header__cart">
              Cart
              <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
              <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
              <span id="CartCount">
                <span>({{ cart.item_count }})</span>
              </span>
            </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Desktop header -->
  <div class="site-header__container small--hide">
      <div class="site-header__row">
        <div class="site-header__row-item--top">
          <h1 class="brand__logo brand__logo--header" itemscope itemtype="http://schema.org/Organization">
            <a href="/" itemprop="url">
              Supply Unica
            </a>
          </h1>
        </div>
        <div class="site-header__row-item--top">
          <div class="site-header__links-wrapper--small">
            <a href="/pages/for-artists">Get Featured</a>
        </div>
      </div>
    </div>

    <div class="site-header__row">
      <div class="site-header__row-item">
        <nav id="AccessibleNav" role="navigation">
          <div class="site-header__nav-section">
            <a href="#" class="site-header__link site-header__nav-item--with-link" id="shop-link">
              Shop
              <svg class="site-header__plus-icon" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 6V10H6V6H10V4H6V0H4V4H0V6H4Z" fill="#232121"/>
              </svg>
              <svg class="site-header__minus-icon" width="10" height="10" viewBox="0 0 10 2" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2H0V0H10V2Z" fill="#232121"/>
              </svg>
            </a>
            <a class="site-header__link" href="/collections/all-artists">Artists</a>
            <a class="site-header__link" href="/kickstarter">UNICA Mag</a>
            <a class="site-header__link" href="/pages/about">About</a>
          </div>
        </nav>
      </div>
      <div class="site-header__row-item">
        <div class="site-header__links-wrapper">
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="site-header__account site-header__link">Account</a>
            {% else %}
              <a href="/account/login" class="site-header__account site-header__link">Log In</a>
            {% endif %}
          {% endif %}

          <a href="/cart" class="site-header__cart">
            Cart
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <span id="CartCount">
              <span>({{ cart.item_count }})</span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="site-header__site-nav">
      {% include 'site-nav' %}
    </div>
  </header>

  <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
    <ul id="MobileNav" class="mobile-nav">
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link" id="mobile-shop-link">
          Shop
          <svg class="mobile-nav__plus-icon" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 8.4L5.6 14H8.4V8.4H14V5.6H8.4V0H5.6L5.6 5.6H0V8.4H5.6Z" fill="#232121"/>
          </svg>
          <svg class="mobile-nav__minus-icon" width="14" height="14" viewBox="0 0 14 4" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 3.4001H0V0.600098H14V3.4001Z" fill="#232121"/>
          </svg>
        </a>
        <div class="mobile-nav__site-nav">
          {% include 'site-nav' %}
        </div>
        <a href="collections/all-artists" class="mobile-nav__link">Artists</a>
        <a href="/kickstarter" class="mobile-nav__link">UNICA Mag</a>
        <a href="/pages/about" class="mobile-nav__link">About</a>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <a href="/account" class="mobile-nav__link">Account</a>
          {% else %}
            <a href="/account/login" class="mobile-nav__link">Log In</a>
          {% endif %}
        {% endif %}
      </li>
      <li class="mobile-nav__item--small">
        <a href="/pages/for-artists" class="mobile-nav__link--small">Get Featured</a>
      </li>
    </ul>
  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
