<div class="new-in shopify-section {% if section.settings.show_dark_background %}index-section--dark{% endif %}">
  {%- assign collection = collections[section.settings.collection] -%}
  <div class="feature-row feature-row--mobile">
    <div class="feature-row__item feature-row__text__text-box feature-row__text__text-box--large">
      <div class="section-header">
        <div class="page-subheader">{{ section.settings.section_title | escape }}</div>
        <h1 class="feature-row__text__title-container">{{ section.settings.title | escape }}</h1>
        <div class="section-header__link">
          <a class="link--secondary" href="{{ collection.url }}">{{ section.settings.link_text }}</a>
        </div>
      </div>
      <div class="feature-row__text__text-box--item--right">
        <a itemprop="url" href="{{ collection.url }}"><img alt="{{ section.settings.title }}" src="{{ collection.image | img_url: '150x' }}"></a>
        <div class="text__tag-subtitle">Made By</div>
        <div class="text__tag-title space--mb">
          <a class="link--primary--inverse" itemprop="url" href="{{ collection.url }}">{{ collection.title }}</a>
        </div>
        <div class="text__subtitle--xsmall">{{ section.settings.image_subtitle }}</div>
      </div>
    </div>
    <div class="feature-row__hero-image__container feature-row__hero-image__container--large feature-row__item">
      <img class="feature-row__hero-image" alt="{{ collection.products.first.title }}" src="{{ collection.products.first.featured_image | img_url: '900x' }}">
      <div class="feature-row__hero-image--link-container">
        <a href="{{ collection.products.first.url }}">
          <div style="color: {{ section.settings.link_text_color }}">{{ collection.products.first.title }}</div>
          <div style="color: {{ section.settings.link_text_color }}">{{ collection.products.first.price | money }}</div>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "New In",
    "class": "index-section--top--flush",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_dark_background",
        "label": "Dark Background",
        "default": false
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "COLLECTION Collection"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      },
      {
        "type": "color",
        "id": "link_text_color",
        "label": "Link Text Color",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "image_subtitle",
        "label": "Image Subtitle"
      }
    ],
    "presets": [
      {
        "name": "New In",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
